*.pyc
TRSF/source_props/region_expansion.html
TRSF/source_props/region_expansion.c
TRSF/source_props/region_expansion.c
.DS_Store
*.o
*.so
*.dylib
*.reg
*.fits
*.npy
*.csv
/data/figures/*
*.ipynb
*.svg
plan.md
UML.drawio
UML_TRSF.uxf
